export REDMINE_DB_POSTGRES="{{ db_host }}"
export REDMINE_DB_PORT="{{ db_port }}"
export REDMINE_DB_USERNAME="{{ db_username }}"
export REDMINE_DB_PASSWORD="{{ db_password }}"
export REDMINE_DB_DATABASE="{{ db_name }}"
